{% block content %}
<div class="shopping-cart">
    <div class="items">
        <div class="item">
            <img src="" alt="Itm">
            <p>Nombre</p>
            <p>Precio</p>
        </div>
        <div class="item">
            <img src="" alt="Itm">
            <p>Nombre</p>
            <p>Precio</p>
        </div>
        <div class="item">
            <img src="" alt="Itm">
            <p>Nombre</p>
            <p>Precio</p>
        </div>
        <div class="item">
            <img src="" alt="Itm">
            <p>Nombre</p>
            <p>Precio</p>
        </div>
        <div class="item">
            <img src="" alt="Itm">
            <p>Nombre</p>
            <p>Precio</p>
        </div>
        <div class="item">
            <img src="" alt="Itm">
            <p>Nombre</p>
            <p>Precio</p>
        </div>
        <div class="item">
            <img src="" alt="Itm">
            <p>Nombre</p>
            <p>Precio</p>
        </div>
        <div class="item">
            <img src="" alt="Itm">
            <p>Nombre</p>
            <p>Precio</p>
        </div>
        <div class="item">
            <img src="" alt="Itm">
            <p>Nombre</p>
            <p>Precio</p>
        </div>
        <div class="item">
            <img src="" alt="Itm">
            <p>Nombre</p>
            <p>Precio</p>
        </div>
        <div class="item">
            <img src="" alt="Itm">
            <p>Nombre</p>
            <p>Precio</p>
        </div>
        <div class="item">
            <img src="" alt="Itm">
            <p>Nombre</p>
            <p>Precio</p>
        </div>
        <div class="item">
            <img src="" alt="Itm">
            <p>Nombre</p>
            <p>Precio</p>
        </div>
    </div>
    <div class="total">
        <p>Total: <span>$100.00</span></p>
    </div>
</div>
{% endblock %}
