{% extends 'base.html'%}

{% block styles %}
    {% load my_filters %}
    {% load static %}
    <link rel="stylesheet"  href="{%  static  'css/product_detail.css'  %}">
{% endblock %}

{% block content %}

        {% if product.active and product.stock_active or user.is_superuser %}
            <div class="product-container">

                <div class="product-wrapper">
                    <div class="product-gallery">
                        <img src="{{ product.image.url }}" alt="imagen de {{ product.title }}">
                    </div>

                    <div class="product-info">

                        <h2>{{ product.title }}</h2>
                        <p class="subtitle">Descripción:</p>
                        <p>{{ product.description|linebreaksbr }}</p>
                        
                        {% if product.category_set.all %}
                            <p class="subtitle">Características:</p>
                        {% endif %}
                        
                        {% for categ in product.category_set.all %}
                            <p><span class="categ-name">{{categ.name}}:</span>{{categ.value}}</p>
                        {% endfor %}

                        <p><span>Precio:</span> ${{ product.price|to_clp }}</p>

                        <div class="purchase-info">
                            <form method="post" class="cart-form">{% csrf_token %}
                                <input type="number" name="quantity" class="num{{product.id}}" min="0" max="{{product.stock}}" value="1">
                                <button type="submit" name="addMany" value="addMany{{product.id}}" class="btn">Añadir al carro</button>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        {% else %}

            <p class="permission-denied">Este producto no está activo.</p>

        {% endif %}

{% endblock %}