{% extends 'base.html'%}

{% block title %}
    Productos
{% endblock %}

{% block styles %}
    {% load my_filters %}
    {% load static %}
    <link rel="stylesheet"  href="{%  static  'css/forms.css'  %}">
    <link rel="stylesheet"  href="{%  static  'css/products_gallery.css'  %}">
{% endblock %}

{% block content %}

    <p class="page-title nav-margin">Productos</p>

    <div class="filters">
        <form action="." method="POST">{% csrf_token %}
            <p class="filter-title">Filtros</p>
            <select name="categories" value="categories" class="categories" onchange="submit()">
                <option name="default" value="default">Todos los productos</option>
                {% for category in categories %}
                    {% if selected == category.name %}
                        <option name="{{category.name}}" value="{{category.name}}" selected>{{category.name}}</option>
                    {% else %}
                        <option name="{{category.name}}" value="{{category.name}}">{{category.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </div>

    {% if not one_product %}
        <style>
            .gallery {
                grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
            }
        </style>
    {% else %}
        <style>
            .gallery {
                grid-template-columns: repeat(auto-fit,minmax(200px,280px));
            }
        </style>
    {% endif %}

    <div class="gallery">

        {% for product in products%}
            {% if product.active and product.stock_active %}

                <div class="product">
                    <div class="product-img">
                        <div class="imagen" style="--img: url('{{product.image.url}}')"></div>
                    </div>
                    <p class="name">{{product.title}}</p>
                    <p class="price">${{ product.price|to_clp }}</p>

                    <a href="{{product.get_absolute_url}}"><button type="submit">Ver más</button></a>
                    <form method="post" class="cart-form">{% csrf_token %}
                            <button type="submit" name="addOne" value="addOne{{product.id}}" class="background-red">+1</button>
                    </form>
                </div>

            {% endif %}
        {% endfor %}

    </div>

{% endblock %}