{% extends 'base.html' %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet"  href="{%  static  'css/forms.css'  %}">
    <link rel="stylesheet"  href="{%  static  'css/product_create.css'  %}">
{% endblock %}

{% block content %}

    {% if user.is_superuser %}
    
        <p class="page-title">Create product</p>

        <form action='.', method='POST' enctype="multipart/form-data"> {% csrf_token %}

            {{ form.as_p }}

            <input type = 'submit' value = 'Save' />

        </form>
        

    {% else %}

        <p class="permission-denied">No tienes permiso para realizar esta acción</p>
    
    {% endif %}

{% endblock %}