{% extends 'base.html' %}

{% block title %}Contacto{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet"  href="{%  static  'css/forms.css'  %}">
    <link rel="stylesheet"  href="{%  static  'css/product_categories.css'  %}">
{% endblock %}

{% block content%}

    {% if user.is_superuser %}
        <p class="page-title">{{p.title}}</p>

        <form method="post" action=".">{% csrf_token %}

                <ul>
                    {% for categ in p.category_set.all %}

                        <li><input type="checkbox" name="category{{categ.id}}" value="clicked">{{categ.name}}: {{categ.value}}</li>

                    {% endfor %}
                </ul>

                <p>Name:</p>
                <input type="text" name="newName">
                <p>Value:</p>
                <input type="text" name="newValue">
                </br></br>
                <button type="submit" name="newCateg" value="newCateg">Add Category</button>
                <button type="submit" name="delCateg" value="delCateg">Remove Categories</button>
                <button type="submit" name="save" value="save">Save</button>
        </form>

    {% else %}

        <p class="permission-denied">No tienes permiso para realizar esta acción</p>
    
    {% endif %}

{% endblock %}