{% extends 'base.html' %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet"  href="{%  static  'css/forms.css'  %}">
{% endblock %}

{% block content %}

    {% if user.is_superuser %}

        <p class="page-title">Actualizar producto</p>

        <form action='.', method='POST'> {% csrf_token %}

            {{ form.as_p }}

            <input type = 'submit' value = 'Guardar' />

        </form>
        

    {% else %}

        <p class="permission-denied">No tienes permiso para realizar esta acción</p>
    
    {% endif %}

{% endblock %}