{% extends 'base.html' %}

{% block title %}Stock{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet"  href="{%  static  'css/forms.css'  %}">
    <link rel="stylesheet"  href="{%  static  'css/product_inventory.css'  %}">
{% endblock %}

{% block content%}

    {% if user.is_superuser %}
    
        <p class="page-title">Inventario {{p.title}}</p>

        {% if error %}
            <div class="content-wrapper">
                <p class="form-warning">{{error}}</p>
            </div>
        {% endif %}

        <form method="post" action=".">{% csrf_token %}

            <div class="stock-wrapper">
                {% for mov in movement_list %}

                    <div class="movement-wrapper">
                    
                        <input type="checkbox" name="movement_id{{mov.id}}" value="clicked">
                        <div class="mov-type">
                            {{mov.mov_data}}
                        </div>
                        <div class="mov-date">
                            {{mov.date}}
                        </div>
                        <div class="mov-quantity">
                            {{mov.quantity}}
                        </div>

                    </div>

                {% endfor %}
            </div>

            <p>Tipo de movimiento:</p>
            <select name="newMovData">
                <option value="entrada">Entrada</option>
                <option value="salida">Salida</option>
            </select>

            <p>Fecha del movimiento:</p>
            <input type="date" name="newDate">

            <p>Cantidad de producto:</p>
            <input type="number" name="newQuantity">

            </br></br>
            <button type="submit" name="newMovement" value="newMovement">Agregar movimiento</button>
            <button type="submit" name="delMovement" value="delMovement">Eliminar movimiento(s)</button>
        </form>

        <div class="content-wrapper">
            {{p.stock}}
        </div>

    {% else %}

        <p class="permission-denied">No tienes permiso para realizar esta acción</p>
    
    {% endif %}

{% endblock %}