
/* Forms */

input{
    background: none;
    border-color: gainsboro;
    outline-color: black;
}

input[type=text]{
    border-radius: 0;
}

input[type=submit], input[type=button]{
    color: white;
    border-radius: 0.5em;
    background-color: black;
    padding: .5em 1em;
    cursor: pointer;
    box-sizing: border-box;
}