
.payments-container {
    width: 60%;
    margin: auto;
    margin-bottom: 3rem;
}

.payment-container {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 1rem;
}

.payment {
    padding: 1rem 1rem;
    border-bottom: 1px solid black;
}

.id {
}

.name {
    
}

.email {

}

.amount {
    border-bottom: none;
}