

.wrapper-button {
    width: 60%;
    margin:auto;
    display:flex;
    column-gap: 1rem;
    justify-content: center;
}

button[type=submit].login-button {
    width: fit-content;
    display: block;
    margin:auto;
}

button[type=submit].create-product-button {
    width: fit-content;
    display: block;
}

button[type=submit].payments-button {
    width: fit-content;
    display: block;
}

button[type=submit].inventory-button {
    margin-top: 0;
    width: 100%;
    background: var(--product-inventory-button);
}

button[type=submit].inventory-button:hover {
    color: var(--product-inventory-button);
    background: white;
}

.product-active {
    box-shadow: 0 0 3px 1px green;
}

.product-inactive {
    box-shadow: 0 0 3px 1px red;
}

@media screen and (max-width: 850px) {
    
    .less-margin-top {
        margin-top: -3em;
    }

}

@media screen and (max-width: 720px) {

    .wrapper-button {
        flex-direction: column;
    }

    button[type=submit].login-button, button[type=submit].create-product-button, button[type=submit].payments-button {
        width: 100%;
    }
}