form {
    width: 40%;
    margin: auto;
    
}

form ul {
    list-style: none;
    margin-bottom: 1em;
}

form li {
    color: var(--form-error-color);
    font-size: 14px;
}

.change-page {
    font-size: 20px;
    color: black;
    margin: 1em 0 3em 0;
}

.change-page a {
    font-family: 'Merryweather', serif;
    color: var(--form-link-color);
}

@media screen and (max-width: 720px) {
    input[type=submit] {
        width: 100%;
    }

    form {
        width: 80%;
    }

}