@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ========================================================= General ========================================================= */

* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}

.subtitle {
    font-style: italic;
    font-weight: bold;
    font-size: 1.1rem;
}

p {
    font-family: Arial;
}

body{
    width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    min-height: 100vh;
    width: 100%;
}

/* ========================================================= Navbar ========================================================= */

.logo {
    color: white;
    letter-spacing: 2.5px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: black;
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
    transition: transform 0.3s ease, rotate 0.3s ease;
}

@media (max-width: 1024px) {

    .nav-links {
        width: 60%;
    }
}

@media (max-width: 850px) {

    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        height: 92vh;
        right: 0px;
        top: 8vh;
        background: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@-webkit-keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@-moz-keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@-ms-keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* ========================================================= LandingPage ========================================================= */

#landing-page{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 0 2em;
    box-sizing: border-box;
}

#landing-page h1{
    font-size: 4rem;
}

#landing-page p{
    margin-bottom: 1em;
}

#landing-page a{
    background: lightgreen;
    padding: .5em 1em;
    border-radius: 1em;
    box-sizing: border-box;
}

/* ========================================================= Contact ========================================================= */

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#contact form input[type=text]{
    font-size: 1.5em;
    margin-top: 1.5em;
    width: 100%;
}

#contact form input[type=button]{
    margin-top: 1em;
    width: fit-content;
    font-size: inherit;
}

/* ========================================================= Gallery ========================================================= */

#gallery{
    padding: 1em 0;
}

.products{
    padding: 2em 0;
    box-sizing: border-box;
    margin: auto;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5em;
}

.product{
    background: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1em;
    overflow: hidden;
}


.product p{
    position: absolute;
    top:0;
    right: 0;
    background: aquamarine;
    border-radius: 0 1em 0 1em;
    padding: .5em;
}

.product img{
    width: 20vw;
}

#gallery input[type=button]{
    background: lightgreen;
    border: none;
    border-radius: 1em;
    padding: .5em 1em;
    box-sizing: border-box;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 1rem;
}

/* ========================================================= ShopingCart ========================================================= */

.shopping-cart{
    display: none;
    position: fixed;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-end;
}

.items{
    width: 50%;
    height: 90%;
    background: white;
    overflow-y: scroll;
}

.items .item{
    display: flex;
    width: 100%;
    position: relative;
    padding: 1em;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

.items .item *+*{
    margin-left: 1em;
}

.items .item p:nth-last-child(1){
    position: absolute;
    right: 1em;
}

.total{
    background: black;
    width: 50%;
    height: 10%;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: .5em;
    box-sizing: border-box;
}