{% extends 'base.html' %}

{% block styles %}
    {% load my_filters %}
    {% load static %}
    <link rel="stylesheet"  href="{%  static  'css/forms.css'  %}">
    <link rel="stylesheet"  href="{%  static  'css/products_gallery.css'  %}">
    <link rel="stylesheet"  href="{%  static  'css/profile.css'  %}">
    <link rel="stylesheet"  href="{%  static  'css/payments.css' %}">
    <style>
        .payment-container {
            grid-template: "id          productos" 1em
                   "nombre      productos" 6em
                   "email       productos" 1fr
                   "monto       monto    " 2em/
                   1fr          1fr;
        }
    </style>
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <p class="page-title">Tu cuenta</p>

        {% if user.is_superuser %}

            <p class="page-subtitle">(Admin)</p>

            <div class="wrapper-button">
                <a href="/products/create/"><button type="submit" class="create-product-button">Crear nuevo producto</button></a>
                <a href="/payments/"><button type="submit" class="payments-button">Historial de pagos</button></a>
            </div>

            <p class="page-title less-margin-top">Productos</p>

            <div class="gallery">
                {% for product in products %}
                    {% if product.active and product.stock_active %}

                        <div class="product product-active">
                            <div class="product-img">
                                <div class="imagen" style="--img: url('{{product.image.url}}')"></div>
                            </div>
                            <p class="name">{{product.title}}</p>
                            <p class="price">${{ product.price|to_clp }}</p>

                            <a href="/products/{{product.id}}/update"><button type="submit">Actualizar</button></a>
                            <a href="/products/{{product.id}}/delete"><button type="submit" class="background-red-profile">Eliminar</button></a>
                            <a href="/products/{{product.id}}/inventory"><button type="submit" class="inventory-button">Inventario</button></a>
                        </div>

                    {% else %}

                        <div class="product product-inactive">
                            <div class="product-img">
                                <div class="imagen" style="--img: url('{{product.image.url}}')"></div>
                            </div>
                            <p class="name">{{product.title}}</p>
                            <p class="price">${{ product.price|to_clp }}</p>

                            <a href="/products/{{product.id}}/update"><button type="submit">Actualizar</button></a>
                            <a href="/products/{{product.id}}/delete"><button type="submit" class="background-red-profile">Eliminar</button></a>
                            <a href="/products/{{product.id}}/inventory"><button type="submit" class="inventory-button">Inventario</button></a>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>

        {% else %}

            {% for payment in payments %}
            
                <div class="payment-container">
                <p class="payment id">Id pago: {{payment.payment_id}}</p>
                <p class="payment name">Nombre cliente: <br> {{payment.payer_name}}</p>
                <p class="payment email">Email cliente: <br> {{payment.payer_email}}</p>
                {% if payment.cart_products %}
                    <p class="payment list">
                        Productos comprados: <br>
                        {% for item in payment.cart_products %}
                            {{item.product_id}} - {{item.product_title}}: {{item.product_quantity}} <br>
                        {% endfor %}
                    </p>
                {% endif %}
                <p class="payment amount">Monto de compra: {{payment.amount | to_clp }}</p>
            </div>
            
            {% endfor %}

        {% endif %}

    {% else %}
        <p class="permission-denied">Debes ingresar para ver esta sección</p>
        <div class="wrapper-button">
            <a href="/login/"><button type="submit" class="login-button">Ingresa acá</button></a>
        </div>
    {% endif %}

{% endblock %}