
:root {
    --img: url()
}

.content-wrapper {
    margin: auto;
    width: 60%;
    margin-bottom: 3rem;
}

.cart-total-table {
    width: 30%;
}

.cart-table {
    width: 100%;
}

table, td, th {
    border: 1px solid var(--table-border-color);
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

.table-quantity {
    font-family: var(--table-number-font);
    text-align:center;
}

.table-delete {
    text-align: center;
}

.table-delete button {
    padding: 7px 7px;
}

.table-price, .table-subtotal-price, .table-total-price {
    text-align: center;
    font-family: var(--table-number-font);
}

input[type=submit] {
    width: fit-content;
}

input[type=number] {
    width: 100px;
}

.wrapper-total {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

button.pay {
    width: fit-content;
    padding-left: 3em;
    padding-right: 3em;
}

/* ============================================================ Imagen ============================================================= */

.product-img{
    position: relative;
    width: 100%;
}
  
.product-img::before{
    content: "";
    height: 0;
    display: inline-block;
    padding-top: 100%;
    width: 1px;
    position: relative;
}
  
.imagen{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--img);
    background-position: center;
    background-size: cover;
}

#container {
    margin: auto;
}

/* ============================================================ MediaQueries ============================================================= */

@media screen and (max-width: 1024px) {

    .column-image, .table-image, .column-price, .table-price  {
        display: none;
    }

    input[type=number] {
        width: 50px;
    }
}

@media screen and (max-width: 720px) {

    .content-wrapper {
        width: 80%;
    }

    .wrapper-total {
        all: unset;
        margin: auto;
    }

    .cart-total-table {
        margin-top: 3rem;
        width: 100%;
    }

    button.pay {
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 100%;
    }
  
}