form {
    width: 40%;
}

form ul {
    list-style: none;
    margin-bottom: 1em;
}

form li {
    color: var(--form-error-color);
    font-size: 14px;
}

.change-page {
    color: black;
    margin: 1em 0 3em 0;
}

.change-page a {
    font-family: var(--auth-change-page-font);
    color: var(--form-link-color);
}

@media screen and (max-width: 1000px) {

    form {
        width: 70%;
    }
}

@media screen and (max-width: 850px) {

    form {
        width: 80%;
    }
    
    input[type=submit] {
        width: 100%;
    }
}