{% extends 'base.html' %}

{% block title %}Nosotros{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet"  href="{% static 'css/about_us.css' %}">

{% endblock %}

{% block content%}

    <div class="landing-image" style="--img: url('/media/about_us/landing_page.jfif')">

        <div class="wrapper">

            <div class="card">
                <p class="subtitle">Nosotros</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus augue quis urna tristique, at scelerisque lacus rhoncus. Donec ac aliquam libero, at tincidunt nunc. Morbi feugiat velit at lectus varius eleifend. Donec at placerat est. Vivamus condimentum ligula in auctor tempus. Quisque sed aliquam urna, et accumsan orci.</p>
            </div>

            <div class="card">
                <p class="subtitle">Misión</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus augue quis urna tristique, at scelerisque lacus rhoncus. Donec ac aliquam libero, at tincidunt nunc. Morbi feugiat velit at lectus varius eleifend. Donec at placerat est. Vivamus condimentum ligula in auctor tempus. Quisque sed aliquam urna, et accumsan orci. </p>
            </div>

        </div>

    </div>

{% endblock %}