{% extends 'base.html' %}

{% block title %}Nosotros{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet"  href="{% static 'css/about_us.css' %}">
{% endblock %}

{% block content%}
    
    <h2 class="page-title">Sobre nosotros</h2>

    <div class="wrapper">

        <div class="column-wrapper">

            <div class="p1">
                <p class="subtitle">Nosotros</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus augue quis urna tristique, at scelerisque lacus rhoncus. Donec ac aliquam libero, at tincidunt nunc. Morbi feugiat velit at lectus varius eleifend. Donec at placerat est. Vivamus condimentum ligula in auctor tempus. Quisque sed aliquam urna, et accumsan orci. Praesent scelerisque ultricies metus non laoreet. Donec eu luctus metus. Quisque tempor nec velit quis mollis. Sed lectus urna, interdum a erat sed, cursus dapibus felis. Morbi ut dui mi. Proin lobortis malesuada ipsum vel suscipit. Nulla lacinia nibh metus, id eleifend massa mattis ac. Phasellus euismod tristique nunc, at venenatis lacus dapibus ut. In molestie dolor tellus, ut fringilla odio elementum quis.</p>
            </div>
            <img class="img2" src="/media/about_us/envases.jpeg" alt="Img 1">
            <div class="p2">
                <p class="subtitle">Misión</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus augue quis urna tristique, at scelerisque lacus rhoncus. Donec ac aliquam libero, at tincidunt nunc. Morbi feugiat velit at lectus varius eleifend. Donec at placerat est. Vivamus condimentum ligula in auctor tempus. Quisque sed aliquam urna, et accumsan orci. Praesent scelerisque ultricies metus non laoreet. Donec eu luctus metus. Quisque tempor nec velit quis mollis. Sed lectus urna, interdum a erat sed, cursus dapibus felis. Morbi ut dui mi. Proin lobortis malesuada ipsum vel suscipit. Nulla lacinia nibh metus, id eleifend massa mattis ac. Phasellus euismod tristique nunc, at venenatis lacus dapibus ut. In molestie dolor tellus, ut fringilla odio elementum quis.</p>
            </div>
            <img class="img1" src="/media/about_us/plantacion.jpg" alt="Img 2">
            
        </div>
    </div>

{% endblock %}