<!doctype html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce-website</title>
    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'css/common.css'  %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body>
    {% include 'navBar.html' %}

    {% block content %}

    {% endblock %} 
</body>
</html>