<!doctype html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tansano {% block title %}{% endblock %}</title>

    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'css/alert.css'  %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    {% block styles%}
        
    {% endblock %}
    
    <link rel="stylesheet"  href="{%  static  'css/navbar.css'  %}">

    {% comment %} <script src="{% static 'js/cart.js' %}"></script> {% endcomment %}

</head>
<body>

    {% if user.is_authenticated %}
        {% include 'navbar_logged.html' %}
    {% else %}
        {% include 'navbar.html' %}
    {% endif %}

    {% block content %}

    {% endblock %}

</body>
</html>