{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block styles %}
    {% load my_filters %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content%}
        
    <p class="page-title">Carro de compras</p>

    <div class="content-wrapper">

        <table class="cart-table">

            <tr>
                <th class="column-image">Producto</th>
                <th class="column-name"></th>
                <th class="column-quantity">Cantidad</th>
                <th class="column-price">Precio unitario</th>
                <th class="column-subtotal-price">Subtotal</th>
                <th class="column-delete">Eliminar</th>
            </tr>

            {% for item in items %}
                
                <tr>
                    <td class="table-image">
                        <div class="product-img">
                            <div class="imagen" style="--img: url('{{item.product.image.url}}')"></div>
                        </div>
                    </td>
                    <td class="table-name">{{item.product.title}}</td>
                    <td class="table-quantity">
                        <input type="number" pattern="\d+" min=1 step=1 name="num" class="num{{item.product.id}}" onchange="updateCookieItem('{{item.product.id}}')" value="{{item.quantity}}">
                    </td>
                    <td class="table-price">${{item.product.price | to_clp }}</td>
                    <td class="table-subtotal-price">${{item.subtotal | to_clp }}</td>
                    <td class="table-delete"><button type="submit" name="removeItem" value="removeItem" onclick="removeCookieItem('{{item.product.id}}')"><i class="far fa-trash-alt"></i></button></td>
                </tr>

            {% endfor %}
            
        </table>

        <div class="wrapper-total">

            <table class="cart-total-table">
            
                <tr>
                    <th>Precio total</th>
                </tr>

                <tr>
                    <td class = "table-total-price">${{total_price | to_clp }}</td>
                </tr>

            </table>

            <button type="submit" class="pay" name="pay" value="pay">Comprar</button>

        </div>

    </div>
    

{% endblock %}