{% extends 'base.html' %}

{% block title %}Contacto{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet"  href="{%  static  'css/forms.css'  %}">
    <link rel="stylesheet"  href="{%  static  'css/product_create.css'  %}">
{% endblock %}

{% block content%}

<p class="page-title">Contáctanos!</p>

    <form action="." method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Send">
    </form>

{% endblock %}