{% extends 'base.html' %}

{% block title %}Compras{% endblock %}

{% block styles %}
    {% load my_filters %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/payments.css' %}">
    <link rel="stylesheet" href="{% static 'css/spinner.css' %}">
{% endblock %}

{% block content%}

    {% if user.is_superuser %}
        <p class="page-title">Pagos</p>

        <div id="loading">
            <div class="spinner"></div>
        </div>

        <div class="payments-container" id="payments">
        </div>
        <script src="{% static 'js/payment_load.js' %}"></script>
    {% else %}

        <p class="permission-denied">No tienes permiso para realizar esta acción</p>
    
    {% endif %}
{% endblock %}