{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block styles %}

    {% load my_filters %}

    <!-- Styles -->

    {% load static %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/payment_detail.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/spinner.css' %}">
    
{% endblock %}

{% block content %}

    <p class="page-title">Detalle compra</p>

    <div class="payments-container" id="payments">
        <div class="payment-container">
            <p class="id">Id pago: {{payment.payment_id}}</p>
            <p class="name">Nombre cliente: <br>{{payment.payer_name}}</p>
            <p class="email">Email cliente: <br>{{payment.payer_email}}</p>
            <p class="products">{{payment.cart_products}}</p>
            <p class="amount">Monto de compra: {{payment.amount | to_clp}}</p>
        </div>
    </div>

{% endblock %}